/data
/datasets
/outputs
/docs
/cv
/MICFormer
/weights

/blue_yolo/datasets
/blue_yolo/runs
/blue_yolo/weights
/dual_yolo/evaluation_results*
/dual_yolo/evaluation_results

*.pt
*.zip
*.bmp
*.txt
*.pyc
*.pptx

/img
/tests

/yolo_seg/datasets
/yolo_seg/runs
/yolo_seg/weights
.DS_Store

/dual_yolo/runs