
*.pt
*.zip
*.jpg
*.bmp
*.png
*.txt
*.pptx
/data
/datasets
/outputs
/docs
/cv
/MICFormer
/weights
/yolo_seg/datasets
/yolo_seg/runs
/yolo_seg/weights
/logs
*.pt
*.zip
*.jpg
*.bmp
*.png
*.txt

/yolo_seg/datasets
/yolo_seg/runs
/yolo_seg/weights
/logs
/data/data_1
/docs
/runs

/yolo_seg